@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family: 'Outfit';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.coin{
    display: flex;
    width: 460px;
    height: 80px;
    border-radius: 8px;
    margin: 38px 0;
}

.coin .coin-logo{
    width: 80px;
    width: 100%;
    display: grid;
    place-items: center;
}
